.breadcrumb-item + .breadcrumb-item::before {
    color: aquamarine;
    content: var(--bs-breadcrumb-divider, "")
}
li{
    font-size: 40px;
}
a{
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    color: #0c0202;
}
a:hover{
    opacity: 0.5;
}

.aboutme{
    margin-top: 150px;
}
/* about */
.img-filter{
    animation: mymove 10s infinite;
    box-shadow: 1px 1px 0 red;
}
#filter{
    animation: mymove 5s infinite;
}
@keyframes mymove {
    50% {
      -webkit-filter: brightness(200%);
      filter:brightness(200%);
    }
  }
#skills{
    margin-top: 100px;
    /* background-image: linear-gradient(to right, rgb(238, 165, 233),rgb(247, 136, 242),rgb(222, 131, 247),rgb(192, 158, 186)); */
    background-color: rgb(248, 201, 251);
    background-size: cover;
    height: 450px
}
.skill{
    padding: 30px;
    font-family: 'Courier New', Courier, monospace;
}

/* education */
 #education{
    margin-top: 100px;
    /* background-image: linear-gradient(to right, rgb(237, 213, 243),rgb(250, 92, 245),rgb(238, 80, 198)); */
    /* background-color: #FFD1DC; */
    background-size: cover;
    height: 500px
 }
p{
    font-size: 20px;
    font-family: sans-serif;
}

hr{
    color: blue;
    height: 10px;
}
#Btech{
    border-style: solid;
    border-radius: 20px;
    border-color: rgb(205, 176, 176) rgb(6, 243, 6) rgb(6rgb(62, 62, 22) 106) #ffff00;
    /* margin: 10px; */
}

/* certifications */
#certifications{
    background-image: linear-gradient(to right, rgba(225, 9, 9, 0.014),rgb(153, 93, 153),rgba(225, 9, 9, 0.014));
    height: 700px;
}
#certifications-container {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    padding: 0 50px;
    margin-bottom: 20px;
    justify-content: space-around;
}

.certifications-image-container {
    max-width: 350px;
    overflow: hidden;
    margin: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.certifications-image-container img {
    width: 100%;
    height: 100%;
    border-radius: 10%;
}

.certifications-details {
    transition: all 0.5s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    color: transparent;
    text-align: center;
    padding: 10px;
}

.certifications-image-container:hover {
    box-shadow: 0 0 20px #07ee35;
    border-radius: 10%;
}

.certifications-image-container:hover .certifications-details {
    background-color:rgba(202, 15, 15, 0.868);
    margin-top: 100px;
    overflow: hidden;
    /* margin: 100px; */
    height: 70px;
    width: 100%;
    /* opacity: 0.1; */
    color: black;
}

/* project */

#project{
    background-color: black;
}

/* contact */
#contact{
    background-color: rgba(245, 181, 247, 0.855);
    height: 650px;
}